{% extends "base.html" %}
{% block title %} Связь с нами | The Gloomy Mag {% endblock %}
{% block content %}
<div class="container contacts mt-5">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center">
                Связь с The Gloomy Mag
            </h1>
            <div class="about-line"></div>
        </div>

        <div class="col-6 mt-2">
            <h5> Оракулы и магистры </h5>
            <p>
                <a href="https://t.me/mystic_bazaar_bot"> @mystic_bazaar_bot </a>
            </p>
            <p>
                <a href="mailto:mystic.bazaar@example.com"> mystic.bazaar@example.com </a>
            </p>
        </div>
        <div class="col-6 schedule">
            <h5> Часы работы </h5>
            <p>
                <span> Магический портал открыт </span>
                <span class="float-end"> всегда </span>
            </p>
            <p>
                <span> Оракулы отвечают  </span>
                <span class="float-end"> с 10:00 до 20:00 </span>
            </p>
        </div>

        <div class="about-line"></div>

        <div class="col-12 mt-2">
            <h5> Магические лавки </h5>
            <p> Наши магические лавки существуют в тонких мирах и доступны только избранным. </p>
            <p> Если вы готовы к посвящению, обратитесь к оракулам. </p>
        </div>

    </div>
</div>
{% endblock %}
