{% extends "base.html" %}
{% block title%} Главная {% endblock%}
{% block content %}
<div class="main">
    <div class="container-fluid my-carousel">
        <div id="Carousel" class="carousel carousel-dark slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#Carousel" data-bs-slide-to="0"
                        class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#Carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#Carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="\static\styles\images\main-carousel-1.jpg" class="d-block w-100" alt="1">
                </div>
                <div class="carousel-item">
                    <img src="\static\styles\images\main-carousel-2.jpg" class="d-block w-100" alt="2">
                </div>
                <div class="carousel-item">
                    <img src="\static\styles\images\main-carousel-3.jpg" class="d-block w-100" alt="3">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#Carousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#Carousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <section>
        <div class="container my-5">
            <div class="row">
                {% for category in categories %}
                 <div class="col-xl-4 col-md-6 col-sm-12 my-5">
                     <h3 class="text-center mt-2">{{ category.category_name }}</h3>
                     <a href="{{ url_for('products_from_category', category_id=category.id) }}">
                        <img src="/static/styles/images/category_{{ category.id }}.jpg" class="mx-auto rounded d-block">
                     </a>
                 </div>
                {% endfor %}
            </div>
        </div>
    </section>
</div>
{% endblock%}