{% extends "base.html" %}
{% block title%} Категории {% endblock%}
{% block content %}
<div class="main">
    <section>
        <nav aria-label="breadcrumb" class="ms-5 mt-3">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{{ url_for('index') }}"> Главная </a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ products.items[0][0].category_name }}</li>
            </ol>
        </nav>
        <div class="container my-5">
            <div class="row">
                {% for product in products.items %}
                <div class="col-xl-4 col-md-6 col-sm-12 product-item mt-5">
                    <a href="{{ url_for('product', id=product[1].id) }}">
                        <img src="/static/styles/images/{{ product[0].category_name }}/{{ product[1].id }}_1.jpg"
                             class="mx-auto rounded d-block">
                    </a>
                    <h3 class="text-center mt-2 mx-auto">{{ product[1].product_name }}</h3>
                    <p class="text-center"> Цена: &#8372; {{ product[1].price }} </p>
                    <div class="d-flex justify-content-center">
                        <div class="me-5">
                            <a href="{{ url_for('product', id=product[1].id) }}" class="btn btn-success"> Обзор </a>
                        </div>
                        <div>
                            <a href="{{ url_for('quick_add_to_cart', id=product[1].id)}}" class="btn btn-success">
                                Купить
                            </a>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <div class="pagination mt-5 d-flex justify-content-center">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            {% if products.has_prev %}
                            <li class="page-item">
                                <a class="page-link"
                                   href="{{ url_for('products_from_category',
                                   category_id=products.items[0][0].id, page_num=products.prev_num)}}">
                                    Previous
                                </a>
                            </li>
                            {% else %}
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                            </li>
                            {% endif %}
                            {% for page in products.iter_pages() %}
                            {% if page == products.page %}
                            <li class="page-item active" aria-current="page">
                                <span class="page-link"> {{ page }} </span>
                            </li>
                            {% elif page %}
                            <li class="page-item">
                                <a class="page-link" href="{{ url_for('products_from_category',
                                category_id=products.items[0][0].id, page_num=page) }}">
                                    {{ page }}
                                </a>
                            </li>
                            {% else %}
                            ...
                            {% endif %}
                            {% endfor %}
                            {% if products.has_next %}
                            <li class="page-item">
                                <a class="page-link"
                                   href="{{ url_for('products_from_category',
                                   category_id=products.items[0][0].id, page_num=products.next_num) }}">
                                    Next </a>
                            </li>
                            {% else %}
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">
                                    Next
                                </a>
                            </li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock%}