{% extends "base.html" %}
{% block title %} О нас | The Gloomy Mag {% endblock %}
{% block content %}
<div class="about container text-secondary">
    <div class="row">
        <div class="col-12 mt-5">
            <h1 class="text-center"> О The Gloomy Mag </h1>
            <div class="about-line"></div>
            <h3 class="text-center"> Ваш проводник в мир магии и тайны </h3>

            <p class="mt-3">
                The Mystic Bazaar - это не просто магазин, это место, где сливаются миры духовного и материального.
                Мы предлагаем широкий выбор предметов для ритуалов, амулетов, кристаллов, трав и других эзотерических
                товаров,
                которые помогут вам на пути самопознания и духовного роста.
            </p>
            <p>
                Наша команда состоит из опытных практиков и знатоков различных магических традиций.
                Мы с радостью поделимся своими знаниями и поможем вам выбрать то, что подходит именно вам.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <p class="about-info"> Разнообразие </p>
        </div>
        <div class="col text-center">
            <p class="about-info"> Знания </p>
        </div>
        <div class="col text-center">
            <p class="about-info"> Духовный рост </p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h4 class="text-center"> Что мы предлагаем? </h4>
            <div class="about-line"></div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col text-center">
            <p>
            </p>
            <p class="text-dark">
                Кристаллы и минералы
            </p>
            <p class="mx-2">
                Откройте для себя магию кристаллов и минералов.
                Мы предлагаем широкий выбор камней с различными свойствами для исцеления, защиты, привлечения любви и
                процветания.
            </p>
        </div>
        <div class="col text-center">
            <p>
            </p>
            <p class="text-dark">
                Книги и гримуары
            </p>
            <p class="mx-3">
                Расширьте свои знания с помощью нашей коллекции книг и гримуаров по различным магическим традициям и
                практикам.
            </p>
        </div>
        <div class="col text-center">
            <p>
            </p>
            <p class="text-dark">
                Травы и благовония
            </p>
            <p class="mx-2">
                Погрузитесь в мир ароматов с нашими травами и благовониями для ритуалов, медитации и очищения
                пространства.
            </p>
        </div>
    </div>
</div>
{% endblock %}
